.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-fire{
  background-image:url(./images/cross.jpg);
  width:100%;
  height:100%;
  background-size:cover;
  padding:50px;
}

.bg{
  background-image:url(./images/img21.jpg);
  width:100%;
  height:100%;
  background-size:cover;
}



.bg-footer{
  background-image:url(./images/fire-anointing.jpg);
  height:100%;
  width:100%;
  background-size:cover;
  color:white;
  
}
.vk-bg-container{
  color:#000007;
  font-size:1.5rem;
  line-height: 150%;
  text-align: center;
}
.vkbg{
  background:white;
  border-radius:3rem;
}
.vk-title1{
  padding:40px 30px 30px 30px;
}
.vk-title2{
  padding:30px;
  text-align: center;
}

.vk-bottom-margin{margin-bottom: 70px;}